@font-face {
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --background-color: rgb(247, 224, 247);
    --left-font-color: white;
    --right-font-color: rgb(61, 59, 59);
    --button-color: purple;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
 
}

.left {
    width: 26vw;
    background-image: url('./img/flower.jpg');
    background-position: center;
    background-size: cover;
    color: var(--left-font-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    width: 45vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    border: none;
    gap: 3rem;
    height: 11rem;
    align-items: end;
}

.left-inputs {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.right-inputs {
    display: flex;
    flex-direction: column;
}

.hero, .bottom {
    background-color: var(--background-color);
}

.footer a {
    color: var(--left-font-color);
}

h1 {
    font-size: 6rem;
    font-family: norse-bold, sans-serif;
}

img {
    height: 8rem;
}

.logo-container {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.footer, .footer a {
    font-size: 0.75rem;
    font-family: sans-serif;
}

.footer {
    margin-bottom: 1rem;
}

.hero, .bottom {
    flex: 1;
}

.form-container {
    flex: 0.75;
    box-shadow: 0 5px 18px #888888;
    z-index: 1;
}

.hero {
    font-size: 0.8rem;
    color: var(--right-font-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h2 {
    margin-left: 2rem;
    width: 37rem;
}

.bottom-margin {
    margin-bottom: 2.5rem;
}

button {
    background-color: var(--button-color);
    border: none;
    border-radius: 8px;
    padding: 15px 35px;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
}

.bottom a {
    text-decoration: none;
    color: var(--button-color);
}

p {
    color: var(--right-font-color);
    margin-left: 2rem;
}

p, .bottom a {
    font-size: 0.8rem;
}

legend {
    color: rgb(146, 139, 139);
    font-size: 1.5rem;
    padding-top: 0.7rem;
    margin-left: 1rem;
}

label {
    font-size: 0.6rem;
}

input {
    margin: 4px 0;
    width: 200px;
    height: 18px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:focus {
    box-shadow: 5px 5px 18px #888888;
}